.nav-bar
    background: transparent
    display: flex
    justify-content: space-between
    position: fixed

    &-title
        font-family: 'Roboto', sans-serif
        letter-spacing: 4px
        font-weight: 300
        color: #2d2d2d

    &-items
        width: 20%
        display: flex
        padding: 0px
        list-style: none
        justify-content: space-between
        align-items: cemter

        &-item
            font-family: 'Roboto', sans-serif
            letter-spacing: 2px
            font-weight: 300
            font-size: 14px
            color: #ffffff