// Its worth it to extend common
// to keep this thing clean.
// EXTENSIONS --------------
    
%splash-border-tl-br {
    position: absolute;
    height: 80%;
    width: 50px;
}

%splash-border-tr-bl {
    height: 50px;
    width: 75%;
    position: absolute;
}

    
%full-height-width {
    height: 100%;
    width: 100%;
}

%full-height-half-width {
    height: 100%;
    width: 50%;
}

%half-height-half-width {
    height: 50%;
    width: 50%;
}

// END EXTENSIONS ---------

:host ::ng-deep {

    .mat-tab-header {
        box-shadow: 5px 10px 12px rgba(0,0,0,0.35);
    }

    .mat-tab-label {
        color: #ffffff;
    }

    .mat-tab-body-wrapper {
        height: 100%;
        box-shadow: 3px 3px 6px rgba(0,0,0,0.35);
        margin-top: 5px;
    }

    .mat-tab-label-content {
        letter-spacing: 3px;
        font-weight: 100;
    }
}

.landing {
    @extend %full-height-width;

    .splash {
        @extend %full-height-width;
        display: flex;

        &-left {
            @extend %full-height-half-width;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #004269;
            position: relative;

            &-opaque {
                position: absolute;
                @extend %full-height-width;
                background-color: rgba(0,0,0,0.75);
            }

            &-list {
                list-style: none;
                padding: 0px;
                text-align: center;
                display: flex;
                flex-direction: column;
                height: 70%;
                justify-content: space-evenly;
                position: relative;
                width: 50%;
                border-radius: 5px;
                align-items: center;
                cursor: default;
                background: rgba(255,255,255,0.75);

                // --------- Custom borders for splash page box
                &-top-right {
                    @extend %splash-border-tr-bl;
                    top: -10px;
                    right: -10px;
                    border-right: 1px solid #004f7d;
                    border-top: 1px solid #004f7d;
                    border-top-right-radius: 5px;
                }
                
                &-top-left {
                    @extend %splash-border-tl-br;
                    top: -10px;
                    left: -10px;
                    border-left: 1px solid #004f7d;
                    border-top: 1px solid #004f7d;
                    border-top-left-radius: 5px;
                }

                &-bottom-right {
                    @extend %splash-border-tl-br;
                    bottom: -10px;
                    right: -10px;
                    border-right: 1px solid #004f7d;
                    border-bottom: 1px solid #004f7d;
                    border-bottom-right-radius: 5px;
                }
                
                &-bottom-left {
                    @extend %splash-border-tr-bl;
                    bottom: -10px;
                    left: -10px;
                    border-left: 1px solid #004f7d;
                    border-bottom: 1px solid #004f7d;
                    border-bottom-left-radius: 5px;
                }

                // --------- End Custom borders -------------

                &-item {
                    display: flex;
                    width: 65%;
                    align-items: center;
                    justify-content: space-between;

                    i {
                        font-size: 18px;
                        background-color: #004f7d;
                        height: 35px;
                        width: 35px;
                        border-radius: 25px;
                        color: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    p {
                        font-family: 'Roboto', sans-serif;
                        font-size: 22px;
                        text-transform: uppercase;
                        font-weight: 300;
                        color: #777777;
                    }
                }
            }
        }

        &-right {
            @extend %full-height-half-width;
            background-color: #004f7d;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &-tabs {
                height: 75%;
                width: 100%;

                &-tab {
                    color: #ffffff;
    
                    &-content {
                        background: #004269;
                        height: 100%;
                        padding: 0px;
                        overflow: scroll;
                        margin: auto;

                        &-nf {
                            margin: 15px 0px;
                            height: 20%;
                            width: 90%;
                            margin: 15px auto;
                            background: transparent;
                            border-bottom: 1px solid #004f7d;
                            border-left: 1px solid #004f7d;
                            border-radius: 5px;
                            position: relative;

                            &:hover {
                                background: #004f7d;
                                cursor: pointer;
                            }

                            &-story {
                                height: 100%;
                                display: flex;
                                justify-content: space-between;

                                &-img {
                                    height: 100px;
                                    width: 100px;
                                    background: #fff;
                                    margin: 10px;
                                    border-radius: 5px;
                                    align-self: center;
                                }

                                &-text {
                                    width: 75%;
                                    color: #fff;
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 16px;
                                    font-weight: 100;
                                    letter-spacing: 3px;
                                    margin-top: 15px;
                                }

                                &-btn {
                                    background-color: #5B9DAD;
                                    position: absolute;
                                    margin: 10px;
                                    right: 0;
                                    bottom: 0;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Not thrilled with media queries.
        // We should look to see if there is 
        // an easier way to `component-ize` these
        // things. Probably not, but worth a look.
        @media screen and (max-width: 399px) {
            &-left, &-right {
                height: 50%;

                &-list {
                    height: 50%;

                    &-item {
                        width: 90%;

                        p {
                            font-size: 16px;
                        }
                    }

                }

            }

        }
    }

    .about {
        height: 100%;
        width: 100%;
        width: 50%;

    }

}