<!-- 
  The landing page will consist of 3 sections
  Splash section:
    Brief desc. of what we offer
    Some content that appeals to our target audience
    login / register call-to-action
  About section:
    Further desc. of what we offer
    What we are building
    Mission Statement to get people using it.
  Contact section:
    A place where users can contact us
    for features, issues and potentially -
    much later on - emplyoment.
 -->

<div class="landing">

  <section class="splash" fxLayout="row" fxLayout.xs="column">
    
    <div [ngStyle.xs]="{'width':'100%'}" class="splash-left">

      <div class="splash-left-opaque"></div>
  
      <ul class="splash-left-list">
        <div class="splash-left-list-top-right"></div>
        <div class="splash-left-list-top-left"></div>
        <li class="splash-left-list-item">
          <i class="fas fa-newspaper"></i>
          <p>Game News</p>
        </li>
        <li class="splash-left-list-item">
            <i class="fas fa-users"></i>
            <p>Community</p>
        </li>
        <li class="splash-left-list-item">
            <i class="fas fa-video"></i>
            <p>Live Steams</p>
        </li>
        <li class="splash-left-list-item">
            <i class="fas fa-chart-bar"></i>
            <p>Player Stats</p>
        </li>
        <div class="splash-left-list-bottom-right"></div>
        <div class="splash-left-list-bottom-left"></div>
      </ul>
  
    </div>
  
    <!-- 
      TODO: Some better styling can be made here 
      Just a placeholder image until either of us 
      comes up with an idea on what to put here.
      Maybe a clipped custom logo? Or top rated 
      youtube channels? I dont know. Definitely
      need to add a call-to-action button to register or 
      sign in.
    -->
    
    <div [ngStyle.xs]="{'width':'100%'}" class="splash-right">
  
      <mat-tab-group animationDuration="0ms" class="accent splash-right-tabs">
        <mat-tab label="News Feed" class="accent splash-right-tabs-tab">
          <mat-card  class="splash-right-tabs-tab-content">
            
            <div *ngFor="let f of fill_data" class="splash-right-tabs-tab-content-nf">
              <div class="splash-right-tabs-tab-content-nf-story">
                <div class="splash-right-tabs-tab-content-nf-story-img">

                </div>
                <div class="splash-right-tabs-tab-content-nf-story-text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <button  mat-raised-button class="splash-right-tabs-tab-content-nf-story-btn">See More</button>
              </div>
            </div>
           
          </mat-card>
        </mat-tab>
        <mat-tab label="Streams" class="splash-right-tabs-tab">
          <mat-card class="splash-right-tabs-tab-content">

          </mat-card>
        </mat-tab>
        <mat-tab label="Charts" class="splash-right-tabs-tab">
          <mat-card class="splash-right-tabs-tab-content">

          </mat-card>
        </mat-tab>
      </mat-tab-group>
  
    </div>

  </section>

  <section class="about">
    
  </section>

</div>