<div class="landing">

  <section class="splash">
    
    <div class="splash-left">
  
      <ul class="splash-left-list">
        <div class="splash-left-list-top-right"></div>
        <div class="splash-left-list-top-left"></div>
        <li class="splash-left-list-item">
          <i class="fas fa-newspaper"></i>
          <p>Game News</p>
        </li>
        <li class="splash-left-list-item">
            <i class="fas fa-users"></i>
            <p>Community</p>
        </li>
        <li class="splash-left-list-item">
            <i class="fas fa-video"></i>
            <p>Live Steams</p>
        </li>
        <li class="splash-left-list-item">
            <i class="fas fa-chart-bar"></i>
            <p>Plater Stats</p>
        </li>
        <div class="splash-left-list-bottom-right"></div>
        <div class="splash-left-list-bottom-left"></div>
      </ul>
  
    </div>
  
    <div class="splash-right">
  
      <div class="splash-right-quote">
        <p>"Alright, times up. Let's do this."</p>
        <p class="the_legend">- L. Jenkins</p>
      </div>
  
    </div>

  </section>

  <section class="about">
    
  </section>

</div>